:root {
  --primary-color: #915fa0;
  --secondary-color: #e63b77;
  --background-color: #dea8ee;
}

body {
  background-color: #e6d1ed !important;
}

/* Header */

.nav-link {
  color: var(--primary-color) !important;
}

.nav-link:hover {
  color: var(--secondary-color) !important;
}

/* Main title */

.heading-span-1 {
  color: var(--secondary-color);
}

.heading-span-2 {
  color: #eebc0d;
}

.heading-span-3 {
  color: #0f6b55;
}

.title {
  color: var(--primary-color);
  font-style: italic;
}

/* Header cards */

.header-card {
  transition: all 0.4s ease;
}

.header-card:hover {
  opacity: 0.6;
}

.card img {
  min-height: 400px;
  object-fit: cover;
  width: 100%;
}

.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: end;
}

.card-img-overlay h5 {
  font-weight: 700;
  backdrop-filter: blur(2px);
  padding: 0.3rem;
}

/* Search box */

.form-input {
  background-color: var(--background-color);
  max-width: 80%;
  margin: 0 auto;
}

span.search-btn,
a.search-btn {
  background-color: var(--background-color);
  color: #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

span.search-btn:hover,
a.search-btn:hover {
  background-color: var(--primary-color);
}

/* Carousel */

.carousel-item img {
  height: 500px;
  object-fit: cover;
}

/* Categories */

.categories ul {
  list-style-type: none;
  color: var(--primary-color);
  padding: 0;
}

.category-list li a {
  color: var(--primary-color);
}

.category-list li a:hover {
  color: var(--secondary-color) !important;
}

/* Favourites Gallery */

.card-body a.fav-btn {
  background-color: var(--background-color);
}

.card-body a.fav-btn:hover {
  background-color: var(--primary-color);
}

/* Media queries */

@media screen and(max-width: 425px) {
  .carousel {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .carousel {
    display: none;
  }
}
